@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,00,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
body
{
    overflow: hidden;
}

section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(111, 0, 255), rgba(188, 17, 255, 0.6),rgb(34, 1, 94));
}
section .color
{
    position: absolute;
    filter: blur(150px);
}
section .color:nth-child(1)
{
    top: -350px;
    width: 600px;
    height: 600px;
    background: #3a0675;
}
section .color:nth-child(2)
{
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #080a94;  
}
section .color:nth-child(3)
{
    bottom: 50px;
    right: 100px;
    width: 500px;
    height: 500px;
    background: #3d07ff;  
}
.box
{
    position: relative;
}
.box .square
{
position: absolute;
backdrop-filter: blur(5px);
box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.5);
border-right: 1px solid rgba(255, 255, 255, 0.2);
border-bottom: 1px solid rgba(255, 255, 255, 0.2);

border-radius: 10px;
animation: animate 10s linear infinite;
animation-delay: calc(-1s * var(--i));
}
@keyframes animate

{
    0%,100%
    {
        transform: translateY(-40px);
    }
    50%
    {
        transform: translateY(40px);
    }
}

.box2 .square2
{
position: absolute;
backdrop-filter: blur(5px);
box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.5);
border-right: 1px solid rgba(255, 255, 255, 0.2);
border-bottom: 1px solid rgba(255, 255, 255, 0.2);

border-radius: 10px;
animation: animate 10s linear infinite;
animation-delay: calc(-1s * var(--i));
}
@keyframes animate

{
    0%,100%
    {
        transform: translateY(-40px);
    }
    50%
    {
        transform: translateY(40px);
    }
}

.box2 .square2:nth-child(1)
{
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}
.box2 .square2:nth-child(2)
{
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}
.box2 .square2:nth-child(3)
{
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.box2 .square2:nth-child(4)
{
    bottom: -50px;
    left: 100px;
    width: 50px;
    height: 50px;
    z-index: 2;
}
.box2 .square2:nth-child(5)
{
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
    z-index: 2;
}
.box2 .square2:nth-child(6)
{
    top: -80px;
    left: 10px;
    width: 20px;
    height: 20px;
    z-index: 2;
}
.box2 .square2:nth-child(7)
{
    bottom: -50px;
    right: 70px;
    width: 20px;
    height: 20px;
    z-index: 2;
}
.box2 .square2:nth-child(8)
{
    top: -90px;
    right: 90px;
    width: 20px;
    height: 20px;
    z-index: 2;
}
.box2 .square2:nth-child(9)
{
    top: 20px;
    right: 530px;
    width: 400px;
    height: 300px;
    z-index: 2;
}

.box2 .square2:nth-child(10)
{
    bottom: -90px;
    right: -490px;
    width: 400px;
    height: 200px;
    z-index: 2;
}
.box2 .square2:nth-child(11)
{
    bottom: -90px;
    left: -430px;
    width: 270px;
    height: 240px;
    z-index: 2;
}
.box2 .square2:nth-child(12)
{
    top: -90px;
    right: -530px;
    width: 450px;
    height: 300px;
    z-index: 2;
}


/****.****/



.box .square:nth-child(1)
{
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}
.box .square:nth-child(2)
{
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}
.box .square:nth-child(3)
{
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.box .square:nth-child(4)
{
    bottom: -50px;
    left: 100px;
    width: 50px;
    height: 50px;
    z-index: 2;
}
.box .square:nth-child(5)
{
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
    z-index: 2;
}
.box .square:nth-child(6)
{
    top: -80px;
    left: 10px;
    width: 20px;
    height: 20px;
    z-index: 2;
}
.box .square:nth-child(7)
{
    bottom: -50px;
    right: 70px;
    width: 20px;
    height: 20px;
    z-index: 2;
}
.box .square:nth-child(8)
{
    top: -90px;
    right: 90px;
    width: 20px;
    height: 20px;
    z-index: 2;
}
.box .square:nth-child(9)
{
    top: 20px;
    right: 530px;
    width: 400px;
    height: 300px;
    z-index: 2;
}

.box .square:nth-child(10)
{
    bottom: -90px;
    right: -490px;
    width: 400px;
    height: 200px;
    z-index: 2;
}
.box .square:nth-child(11)
{
    bottom: -90px;
    left: -430px;
    width: 270px;
    height: 240px;
    z-index: 2;
}
.box .square:nth-child(12)
{
    top: -90px;
    right: -530px;
    width: 450px;
    height: 300px;
    z-index: 2;
}
.container
{
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(188, 17, 255, 0.6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

form i {
    margin-left: -30px;
    cursor: pointer;
}

.form
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.form h2
{
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.form h2::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}
.form .inputBox
{
    width: 100%;
    margin-top: 20px;
}
.form .inputBox input
{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.form .inputBox input::placeholder
{
    color: #fff;
}
.form .inputBox input[type="reset"]
{
    background: rgb(153, 153, 153);
    color: #666;
    max-width: 115px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}
.form .inputBox input[type="submit"]
{
    background: #fff;
    color: #666;
    max-width: 115px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}
.forget
{
    margin-top: 5px;
    color: #fff;
}

.forget a
{
    color: #fff;
    font-weight: 600;
}

